/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body{
		overflow-x : hidden;
	}
	.main-menu{
		visibility : hidden;
		top : 60px;		
		position : fixed;
		right : -200px;
		width : 200px;
		z-index:4;
		background-color : $darkGrey;		

		li{
			display : block;
			@include transition(0.3s);
			a{				
				padding : 10px;
				color : $white;					
			}
			&:hover{
				@include transition(0.3s);
				background-color : $blue;
				a {					
					color : $white;
				}
			}
			
		}

		li.active{
			a{
				color:$white;
			}			
		}
	}


	.show-menu{
		visibility : visible;
		clear : both;
		right : 20px;
		@include transition(0.3s);
	}

	.hide-menu{
		visibility : visible;
		clear : both;
		right : -200px;
		@include transition(0.3s);
	}

	.toggle-btn{
		visibility : visible;
		@include transition(0.3s);
		outline : none;
		background-color : $darkGrey;

		&:hover{
			background-color : $blue;
			@include transition(0.3s);		
		}		
	}

	.active{
		background-color : $blue;
	}

	.head-title{
		font-size : 15pt;
	}

	.head-job{
		font-size:25pt;
	}

	.highlight-wrapper{
		padding-top:20vh;
	}

	.milestone-desc{
		width : 100%;

		&:before{
			content : none;
		}
	}

	.milestone-year{
		width : 120px;
		display : inline-block;			
		font : 28pt $bebas;
		height : 50px;
		position : relative;
		vertical-align : middle;
		box-sizing : border-box;
	}

	.milestone-icon{
		width : 30px;
		height : 30px;
		position : absolute;
		left : 5px;	

		i{
			font-size : 20pt;
			color : $white;
			margin : 3px 6px;
		}	
	}
	.milestone-wrappper-list{
		width : 100%;
		margin-top : 15px;		

		&:after{
			content : '';
			display:block;
			position : absolute;
			top:30px;
			width : 0px;
			left : 0;						
			border-bottom: 20px solid $youngGrey;
			border-right: 20px solid transparent;
			border-left: 20px solid transparent;
		}
	}

	.skill-list{		
		li{
			width : 40%;
		}
	}

	.portfolio-item{
		width : 50%;
		min-height : 50px;
		max-height : 240px;
	}

}

/* Landscape phones and down */
@media (max-width: 540px) {
	.head-title{
		font-size : 15pt;
	}

	.head-job{
		font-size:21pt;
		letter-spacing : 4pt;
	}

	h1{
		font-size : 28pt;
	}

	h3{
		font-size : 14pt;
	}

	.title-section{
		.double-line{
			width : 20px;
		}
	}

	.highlight-wrapper{
		img{
			height : 200px;
		}
	}

	.skill-list{		
		li{
			width : 100%;			
			margin : 10px 0;
		}
	}

	.portfolio-item{
		width : 100%;
		min-height : 50px;
		max-height : 240px;
	}

	.contact-left-wrapper{
		width : 100%;
	}
	.contact-right-wrapper{
		width : 100%;
		padding:20px 0;

		& .socmed-icon{
			margin-top :-3%;
		}
	}
}

/* Portrait tablet to landscape and desktop */
@media only screen and (min-device-width : 768px) and (max-device-width : 979px) {
	
}