@mixin transition($time){
	-webkit-transition-duration : $time;
	transition-duration : $time;
	transition : $time;
}

@mixin transition-width($time){
	-webkit-transition-duration : $time;
	transition-duration : $time;
	transition : $time;
	transition-property: width;
}

@mixin transition-visibility($time){
	-webkit-transition-duration : $time;
	transition-duration : $time;
	transition : $time;
	transition-property: visibility;
}

@mixin margin-tb($unit){
	margin : $unit 0;
}

@mixin padding-tb($unit){
	padding : $unit 0;
}

@mixin padding-b($unit){
	padding-bottom:$unit;
}

@mixin rotate($deg){
	transform : rotate($deg);
	-webkit-transform : rotate($deg);
	-moz-transform : rotate($deg);
	-o-transform : rotate($deg);
	-ms-transform : rotate($deg);
}

@mixin border-radius($unit){
	border-radius : $unit;
	-moz-border-radius : $unit;
	-webkit-border-radius : $unit;
	-o-border-radius : $unit;
}