
// VARIABLE COLOR
$white : #ffffff;
$blue : #00B4FC;
$darkGrey : #1A1B1C;
$smoothGrey : #666666;
$youngGrey : #CCCCCC;
$babyGrey : #ededed;
$black : #000;

// VARIABLE FONT
$segoe : segoe;
$segoeBold : segoeBold;
$arial : Arial;
$bebas : bebas;
$bebasBook : bebasBook;
$bebasLight : bebasLight;