@font-face {
  font-family: segoe;
  src: url("../fonts/segoeui.ttf"); }
@font-face {
  font-family: segoeBold;
  src: url("../fonts/segoeuib.ttf"); }
@font-face {
  font-family: bebasBook;
  src: url("../fonts/BebasNeueBook.eot") format("embedded-opentype");
  src: url("../fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook.ttf") format("truetype"), url("../fonts/BebasNeueBook.svg#bebasBook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: bebasLight;
  src: url("../fonts/BebasNeueLight.eot") format("embedded-opentype");
  src: url("../fonts/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight.ttf") format("truetype"), url("../fonts/BebasNeueLight.svg#bebasLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bebas';
  src: url("../fonts/BebasNeueRegular.eot") format("embedded-opentype");
  src: url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg#bebas") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "anu";
  src: url("../fonts/anu.eot");
  src: url("../fonts/anu.eot?#iefix") format("embedded-opentype"), url("../fonts/anu.woff") format("woff"), url("../fonts/anu.ttf") format("truetype"), url("../fonts/anu.svg#anu") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "anu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "anu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-about:before {
  content: "\e000"; }

.icon-about2:before {
  content: "\e001"; }

.icon-image:before {
  content: "\e002"; }

.icon-note:before {
  content: "\e003"; }

.icon-laptop:before {
  content: "\e004"; }

.icon-milestone:before {
  content: "\e005"; }

.icon-skills:before {
  content: "\e006"; }

.icon-education:before {
  content: "\e007"; }

.icon-career:before {
  content: "\e008"; }

h1 {
  font-size: 35pt;
  margin: 0; }

h2 {
  font: 22pt bebas;
  margin: 0;
  font-weight: bold; }

h3 {
  font-size: 18pt;
  margin: 0;
  font: 18pt bebasBook; }

h4 {
  font: 14pt bebas;
  margin: 0; }

.bg-blue {
  background-color: #00B4FC; }

.bg-white {
  background-color: #ffffff; }

.bg-grey {
  background-color: #1A1B1C; }

.bg-youngGrey {
  background-color: #CCCCCC; }

.bg-babyGrey {
  background-color: #ededed; }

.font-blue {
  color: #00B4FC; }

.padding-50 {
  padding: 50px 0; }

.padding-tb-70 {
  padding: 70px 0; }

.padding-b-70 {
  padding-bottom: 70px; }

section {
  display: inline-block; }

body {
  clear: both;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font: 12pt bebas;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.full-container {
  position: relative;
  width: 100%; }

.header-wrapper {
  min-height: 100vh;
  background: url("../img/bg.jpg") no-repeat center 100%;
  background-size: cover;
  margin: 0; }
  .header-wrapper:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url("../img/pattern.png");
    position: absolute;
    box-sizing: border-box; }

.menu-wrapper {
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: right;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  transition: 0.7s; }
  .menu-wrapper a:hover {
    color: #00B4FC; }

.toggle-btn {
  visibility: hidden;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  z-index: 3;
  position: absolute;
  background: transparent;
  border: 1px solid #ffffff;
  text-align: center;
  right: 20px;
  top: 20px; }
  .toggle-btn:before {
    display: table;
    content: ''; }
  .toggle-btn span {
    display: block;
    position: relative;
    width: 20px;
    margin: 5px auto;
    height: 2px;
    background-color: #ffffff; }

.animate {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  transition: 0.7s;
  background-color: #1A1B1C;
  position: fixed;
  box-shadow: 0px 0px 10px #000;
  z-index: 2; }

.main-menu {
  visibility: visible;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  font: 1.2em bebasBook;
  letter-spacing: 1pt;
  text-transform: uppercase;
  color: #ffffff; }
  .main-menu li {
    display: inline-block; }
    .main-menu li a {
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      position: relative;
      padding: 20px;
      margin: 0; }

.highlight-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-top: 10vh;
  text-align: center;
  position: relative;
  display: block; }

.head-title {
  box-sizing: border-box;
  display: block;
  margin: 30px auto 0;
  position: relative;
  text-transform: uppercase;
  font-size: 18pt;
  letter-spacing: 3pt; }
  .head-title:after {
    content: '';
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 1px;
    background-color: #ffffff; }

.head-job {
  box-sizing: border-box;
  font-size: 35pt;
  letter-spacing: 7pt; }

.head-resume-download {
  margin: 20px 0; }
  .head-resume-download button {
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    font-size: 11pt;
    letter-spacing: 3pt;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition: 0.3s; }
    .head-resume-download button:hover {
      background-color: #00B4FC;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      transition: 0.3s; }

.typed-cursor {
  color: #00B4FC;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.header-section {
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
  padding: 70px 0; }

.bottom-caret:before {
  content: '';
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: -18px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #CCCCCC; }

.icon-header {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #00B4FC;
  box-sizing: border-box;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

.icon-rotate {
  font-size: 1.8em;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 5px 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); }

.title-section {
  color: #666666;
  font-size: 35pt;
  display: block; }
  .title-section h1 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: 20px;
    letter-spacing: 1.9pt; }
  .title-section .double-line, .title-section h1:before, .title-section h1:after {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    min-width: 50px;
    max-width: 100px;
    height: 5px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666; }
  .title-section h1:before {
    margin-right: 30px; }
  .title-section h1:after {
    margin-left: 30px; }
  .title-section h3 {
    color: #00B4FC; }

.content-section {
  padding: 20px 10%;
  text-align: center;
  color: #1A1B1C;
  letter-spacing: 1pt; }
  .content-section .about-idea {
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    display: inline-block;
    box-sizing: border-box; }
    .content-section .about-idea li {
      display: inline-block;
      font-size: 19pt;
      color: #666666; }
      .content-section .about-idea li:after {
        content: '';
        width: 10px;
        height: 10px;
        margin: 0 10px;
        background-color: #00B4FC;
        position: relative;
        display: inline-block;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;
        vertical-align: middle; }
      .content-section .about-idea li:last-child:after {
        content: none; }

.milestone-desc {
  width: 700px;
  margin: 30px 0;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0; }
  .milestone-desc:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    box-sizing: border-box;
    top: 2px;
    bottom: 0;
    left: 159px;
    background-color: #666666; }

.milestone-detail {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none; }
  .milestone-detail li {
    position: relative;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0; }
    .milestone-detail li > div {
      box-sizing: border-box;
      vertical-align: top; }
    .milestone-detail li:last-child {
      margin-bottom: 0; }

.milestone-year {
  width: 120px;
  display: inline-block;
  font: 28pt bebas;
  height: 50px; }

.milestone-icon {
  width: 40px;
  height: 40px;
  margin-right: 50px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: #00B4FC;
  top: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }
  .milestone-icon i {
    font-size: 25pt;
    color: #ffffff;
    margin: 4px 7px; }

.milestone-wrappper-list {
  width: 450px;
  display: inline-block;
  background-color: #CCCCCC;
  padding: 0;
  min-height: 50px;
  box-sizing: border-box; }
  .milestone-wrappper-list:after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    right: 465px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #CCCCCC;
    border-top: 20px solid transparent; }

.box-title {
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  padding: 5px 10px;
  text-transform: capitalize; }
  .box-title a {
    text-decoration: none;
    color: #00B4FC; }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    overflow-x: hidden; }

  .main-menu {
    visibility: hidden;
    top: 60px;
    position: fixed;
    right: -200px;
    width: 200px;
    z-index: 4;
    background-color: #1A1B1C; }
    .main-menu li {
      display: block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      transition: 0.3s; }
      .main-menu li a {
        padding: 10px;
        color: #ffffff; }
      .main-menu li:hover {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        transition: 0.3s;
        background-color: #00B4FC; }
        .main-menu li:hover a {
          color: #ffffff; }

  .show-menu {
    visibility: visible;
    clear: both;
    right: 20px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition: 0.3s; }

  .hide-menu {
    visibility: visible;
    clear: both;
    right: -200px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition: 0.3s; }

  .toggle-btn {
    visibility: visible;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition: 0.3s;
    outline: none;
    background-color: #1A1B1C; }
    .toggle-btn:hover {
      background-color: #00B4FC;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      transition: 0.3s; }

  .active {
    background-color: #00B4FC; }

  .head-title {
    font-size: 15pt; }

  .head-job {
    font-size: 25pt; }

  .highlight-wrapper {
    padding-top: 20vh; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  .head-title {
    font-size: 15pt; }

  .head-job {
    font-size: 21pt;
    letter-spacing: 4pt; }

  h1 {
    font-size: 28pt; }

  h3 {
    font-size: 14pt; }

  .title-section .double-line, .title-section h1:before, .title-section h1:after {
    width: 20px; }

  .highlight-wrapper img {
    height: 200px; } }
/* Portrait tablet to landscape and desktop */

/*# sourceMappingURL=style.css.map */
