@import 'font-face';
@import 'variable';
@import 'mixin';
@import 'font-icon';

h1{
	font-size : 35pt;
	margin : 0;
}

h2{
	font : 22pt $bebas;
	margin : 0;
	font-weight : bold;
}

h3{
	font-size : 18pt;
	margin : 0;
	font : 18pt $bebasBook;
}

h4{
	font : 14pt $bebas;	
	margin : 0;
}

.bg-blue{
	background-color : $blue;
}
.bg-white{
	background-color : $white;
}
.bg-grey{
	background-color : $darkGrey;
}
.bg-youngGrey{
	background-color : $youngGrey;
}
.bg-babyGrey{
	background-color : $babyGrey;
}

.font-blue{
	color : $blue;
}

.padding-50{
	padding : 50px 0;
}

.padding-tb-70{
	@include padding-tb(70px)	
}

.padding-b-70{
	@include padding-b(70px)
}

section{
	display:inline-block;
}

body{
	clear : both;
	margin : 0;
	padding : 0;	
	color:$white;
	font:12pt $bebas;
	overflow-y: scroll;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.full-container{
	position : relative;
	width : 100%;	
}

.header-wrapper{
	min-height : 100vh;
	background : url('../img/bg.jpg') no-repeat center 100%;
	background-size:cover;
	margin:0;

	&:before{
		content : '';
		width:100%;
		height : 100%;		
		display:block;
		background : url('../img/pattern.png');
		position:absolute;
		box-sizing:border-box;
	}
}

.menu-wrapper{
	width:100%;	
	top:0;
	margin:0;
	padding:0;
	text-align:right;
	box-sizing:border-box;	
	background-color:transparent;
	@include transition(0.7s);

	a:hover{
		color:$blue;
	}
}

.toggle-btn{
	visibility : hidden;
	width : 40px;
	height : 40px;
	box-sizing : border-box;
	z-index : 3;
	position:absolute;
	background : transparent;	
	border: 1px solid $white;
	text-align : center;	
	right : 20px;
	top : 20px;
	&:before{
		display:table;
		content : '';
	}
	span{
		display:block;	
		position:relative;	
		width : 20px;
		margin: 5px auto;
		height : 2px;
		background-color : $white;		
	}
}

.animate{
	@include transition(0.7s);
	background-color:$darkGrey;
	position:fixed;
	box-shadow : 0px 0px 10px #000;
	z-index:2;
}	

.main-menu{
	visibility : visible;
	margin:0;
	padding:0;	
	display:inline-block;	
	list-style:none;	
	font: 1.2em $bebasBook;
	letter-spacing:1pt;
	text-transform:uppercase;
	color:$white;

	li{				
		display:inline-block;		

		a{
			display:inline-block;			
			text-decoration:none;
			color:$white;
			position:relative;
			padding:20px;
			margin:0;
		}

	}
}

.highlight-wrapper{
	box-sizing : border-box;
	width : 100%;
	height : auto;
	padding-top : 10vh;
	text-align:center;
	position:relative;
	display:block;
}

.head-title{
	box-sizing : border-box;
	display:block;
	margin:30px auto 0;
	position:relative;
	text-transform : uppercase;
	font-size : 18pt;
	letter-spacing : 3pt;

	&:after{
		content : '';
		position:relative;
		display:block;
		margin : 20px auto;
		width : 100px;
		height : 1px;		
		background-color : $white;
	}
}

.head-job{
	box-sizing : border-box;
	font-size : 35pt;
	letter-spacing : 7pt;
}

.head-resume-download{
	margin : 20px 0;
	button{
		background-color : transparent;
		padding : 5px 10px;
		border : 1px solid $white;	
		font-size : 11pt;
		letter-spacing:3pt;
		@include transition(0.3s);		

		&:hover{			
			background-color : $blue;
			@include transition(0.3s);
		}
	}	
}

.typed-cursor{
	color:$blue;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.header-section{
	width : 100%;
	text-align : center;
	position:relative;
	display:block;
	@include padding-tb(70px);
}

.bottom-caret{
	&:before{
		content : '';
		position:absolute;	
		margin:0 auto;
		display:inline-block;
		width: 0;
		height: 0;
		bottom:-18px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid $youngGrey;
	}
}

.icon-header{
	display:inline-block;
	margin : 0 auto;
	position: relative;
	width : 40px;
	height : 40px;
	background-color : $blue;	
	box-sizing : border-box;
	@include rotate(45deg);
}

.icon-rotate{
	font-size : 1.8em;
	box-sizing : border-box;
	display:inline-block;
	position:relative;
	margin : 5px 8px;
	@include rotate(-45deg);	
}

.title-section{
	color : $smoothGrey;	
	font-size : 35pt;
	display : block;

	& h1{
		display : inline-block;
		vertical-align : middle;
		position:relative;
		margin-top : 20px;
		letter-spacing : 1.9pt;
	}

	.double-line{
		content : '';		
		display:inline-block;
		position:relative;
		vertical-align:middle;	
		min-width : 50px;
		max-width : 100px;
		height : 5px;
		border-top : 1px solid $smoothGrey;
		border-bottom : 1px solid $smoothGrey;
	}

	& h1:before{
		@extend .double-line;
		margin-right : 30px;		
	}

	& h1:after{		
		@extend .double-line;
		margin-left : 30px;
	}

	& h3{
		color : $blue;
	}
}

.content-section{
	padding : 20px 10%;
	text-align:center;	
	color : $darkGrey;	
	letter-spacing : 1pt;

	.about-idea{
		margin:0;
		padding:20px 0 0 0;
		list-style:none;
		display:inline-block;
		box-sizing : border-box;

		li{
			display:inline-block;
			font-size : 19pt;	
			color : $smoothGrey;		

			&:after{
				content : '';
				width : 10px;
				height : 10px;
				margin : 0 10px;
				background-color : $blue;
				position:relative;
				display:inline-block;
				@include border-radius(10px);
				vertical-align:middle;					
			}

			&:last-child:after{
				content : none;
			}
		}
	}
}

.milestone-desc{
	width : 700px;	
	@include margin-tb(30px);
	display:inline-block;
	box-sizing : border-box;	
	position:relative;	
	padding:0;

	&:before{
		content : '';
		display:inline-block;
		position:absolute;		
		width : 1px;
		box-sizing:border-box;
		top:2px;
		bottom : 0;
		left : 159px;
		background-color : $smoothGrey;		
	}
}

.milestone-detail{	
	position:relative;	
	width : 100%;
	box-sizing : border-box;
	padding:0;
	margin : 0;
	list-style : none;

	li{
		position:relative;
		margin-bottom : 30px;
		box-sizing:border-box;
		padding:0;

		&>div{
			box-sizing:border-box;			
			vertical-align : top;
		}

		&:last-child{
			margin-bottom : 0;
		}
	}	
}

.milestone-year{
	width : 120px;
	display : inline-block;	
	font : 28pt $bebas;
	height : 50px;
}

.milestone-icon{
	width : 40px;
	height : 40px;
	margin-right : 50px;
	box-sizing : border-box;
	position:relative;
	display : inline-block;
	background-color : $blue;
	top : 8px;
	@include rotate(45deg);

	i{
		font-size : 25pt;
		color : $white;
		margin : 4px 7px;
	}
}

.milestone-wrappper-list{
	width : 450px;
	display : inline-block;
	background-color : $youngGrey;
	padding:0;	
	min-height : 50px;
	box-sizing:border-box;

	&:after{
		content : '';
		display:block;
		position : absolute;
		top:8px;
		right:465px;		
		border-bottom: 20px solid transparent;
		border-right: 20px solid $youngGrey;
		border-top: 20px solid transparent;
	}
}

.box-title{
	position:relative;
	box-sizing:border-box;
	vertical-align:top;
	text-align : left;
	padding : 5px 10px;	
	text-transform : capitalize;	

	& a{
		text-decoration : none;
		color : $blue;
	}
}


// IMPORTED STYLE
@import 'media_queries';